.forthh{
 display: flex;
 margin-top: 10rem;
 max-width: 100%;
 margin-left: 5rem;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;

}

.forthh .forth1,
.forthh .forth2{
 display: flex;
 flex: 1 1 20rem;
}



.forthh .forth1 img{
 max-width: 100%;
}

.forthh .forth2{
 display: flex;
 flex-direction: column;
 margin-left: 5rem;

 justify-content: left;
 color:white;
 font-family: 'Roboto', sans-serif; 
}

a{
 text-decoration: none;
}

.forthh .forth2 p{
 margin-top:2rem;
}

.forthh .forth2 #para-link a{
 color:white;
}

.forthh .forth2 #para-link img{
 margin-left: 0.5rem;
}


.forthh .forth2 #para-link a:hover{
 text-decoration: underline;
}